{% extends 'layout.html' %}


{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <form class="p-5 bg-light rounded-4 shadow-lg" style="max-width: 1000px; width: 100%;" method="POST">
        <h2 class="text-center mb-4">Agregar Tarea</h2>

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" placeholder="Ingrese el título">
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" name="descripcion" rows="5" placeholder="Ingrese la descripción" style="resize: none; width: 100%;"></textarea>
        </div>

        <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select name="estado" class="form-select estado-select">
                <option value="Pendiente" class="text-danger">🔴 Pendiente</option>
                <option value="En progreso" class="text-warning">🟡 En progreso</option>
                <option value="Completada" class="text-success">🟢 Completada</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
</div>



{% endblock %}